<h1 align="center"> Removing Variables with Multicollinearity Issues after the Correlation Analysis</h1>
<h3 align="center"> IST 5520, 2021 Fall </h3>
<h3 align="center"> Group 7 </h3>

In [1]:
import pandas as pd
import numpy as np

In [2]:
pitchingdat = pd.read_csv(r"no_NA_PitchingDF.csv", index_col = 0)
hittingdat = pd.read_csv(r"no_NA_HittingDF.csv", index_col = 0)

<h1 align="center"> Variable Removal From Hitting DataFrame</h1>

In [3]:
hittingdat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5373 entries, 0 to 5376
Data columns (total 23 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   playerID   5373 non-null   object
 1   yearID     5373 non-null   int64
 2   G          5373 non-null   int64
 3   R          5373 non-null   int64
 4   RBI        5373 non-null   int64
 5   SB         5373 non-null   int64
 6   CS         5373 non-null   int64
 7   SO         5373 non-null   int64
 8   IBB        5373 non-null   int64
 9   SH         5373 non-null   int64
 10  SF         5373 non-null   int64
 11  GIDP       5373 non-null   int64
 12  XBH        5373 non-null   int64
 13  SLG        5373 non-null   float64
 14  BA         5373 non-null   float64
 15  OBP        5373 non-null   float64
 16  OPS        5373 non-null   float64
 17  LogSalary  5373 non-null   float64
 18  nameFirst  5373 non-null   object
 19  nameLast   5373 non-null   object
 20  nameGiven  5373 non-null   object
 21  bats       5373 non-null   object
 22  teamName   5373 non-null   object
dtypes: float64(5), int64(12), object(6)
memory usage: 1007.4+ KB

In [4]:
hittingdat = hittingdat.drop(columns = ["XBH", "SLG", "OBP" , "CS", "G"])

In [5]:
hittingdat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5373 entries, 0 to 5376
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   playerID   5373 non-null   object
 1   yearID     5373 non-null   int64
 2   R          5373 non-null   int64
 3   RBI        5373 non-null   int64
 4   SB         5373 non-null   int64
 5   SO         5373 non-null   int64
 6   IBB        5373 non-null   int64
 7   SH         5373 non-null   int64
 8   SF         5373 non-null   int64
 9   GIDP       5373 non-null   int64
 10  BA         5373 non-null   float64
 11  OPS        5373 non-null   float64
 12  LogSalary  5373 non-null   float64
 13  nameFirst  5373 non-null   object
 14  nameLast   5373 non-null   object
 15  nameGiven  5373 non-null   object
 16  bats       5373 non-null   object
 17  teamName   5373 non-null   object
dtypes: float64(3), int64(9), object(6)
memory usage: 797.6+ KB

<h1 align="center"> Variable Removal From Pitching DataFrame</h1>

In [6]:
pitchingdat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5503 entries, 0 to 5503
Data columns (total 33 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   playerID   5503 non-null   object
 1   yearID     5503 non-null   int64
 2   W          5503 non-null   int64
 3   L          5503 non-null   int64
 4   G          5503 non-null   int64
 5   GS         5503 non-null   int64
 6   CG         5503 non-null   int64
 7   SHO        5503 non-null   int64
 8   SV         5503 non-null   int64
 9   IPouts     5503 non-null   int64
 10  H          5503 non-null   int64
 11  ER         5503 non-null   int64
 12  HR         5503 non-null   int64
 13  BB         5503 non-null   int64
 14  SO         5503 non-null   int64
 15  BAOpp      5503 non-null   float64
 16  ERA        5503 non-null   float64
 17  IBB        5503 non-null   int64
 18  WP         5503 non-null   int64
 19  HBP        5503 non-null   int64
 20  BK         5503 non-null   int64
 21  BFP        5503 non-null   int64
 22  GF         5503 non-null   int64
 23  R          5503 non-null   int64
 24  SH         5503 non-null   int64
 25  SF         5503 non-null   int64
 26  GIDP       5503 non-null   int64
 27  LogSalary  5503 non-null   float64
 28  nameFirst  5503 non-null   object
 29  nameLast   5503 non-null   object
 30  nameGiven  5503 non-null   object
 31  throws     5503 non-null   object
 32  teamName   5503 non-null   object
dtypes: float64(3), int64(24), object(6)
memory usage: 1.4+ MB

In [7]:
pitchingdat = pitchingdat.drop(columns = ["IPouts", "BFP", "R", "ER", "IBB", "BK", "GF", "G"])

In [8]:
pitchingdat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5503 entries, 0 to 5503
Data columns (total 25 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   playerID   5503 non-null   object
 1   yearID     5503 non-null   int64
 2   W          5503 non-null   int64
 3   L          5503 non-null   int64
 4   GS         5503 non-null   int64
 5   CG         5503 non-null   int64
 6   SHO        5503 non-null   int64
 7   SV         5503 non-null   int64
 8   H          5503 non-null   int64
 9   HR         5503 non-null   int64
 10  BB         5503 non-null   int64
 11  SO         5503 non-null   int64
 12  BAOpp      5503 non-null   float64
 13  ERA        5503 non-null   float64
 14  WP         5503 non-null   int64
 15  HBP        5503 non-null   int64
 16  SH         5503 non-null   int64
 17  SF         5503 non-null   int64
 18  GIDP       5503 non-null   int64
 19  LogSalary  5503 non-null   float64
 20  nameFirst  5503 non-null   object
 21  nameLast   5503 non-null   object
 22  nameGiven  5503 non-null   object
 23  throws     5503 non-null   object
 24  teamName   5503 non-null   object
dtypes: float64(3), int64(16), object(6)
memory usage: 1.1+ MB

<h1 align="center"> Combining Wins and Loses with a W/L ratio</h1>
<h3 align="center"> By Combining Winds and Loses we can protect and preserve data fidelity </h3>

In [9]:
pitchingdat.sample(10)

,playerID,yearID,W,L,GS,CG,SHO,SV,H,HR,...,HBP,SH,SF,GIDP,LogSalary,nameFirst,nameLast,nameGiven,throws,teamName
4401,gallayo01,2014,8,11,32,0,0,0,195,21,...,4,8,3,13,16.249601,Yovani,Gallardo,Yovani,R,Milwaukee Brewers
4828,handbr01,2015,4,7,12,0,0,0,107,9,...,3,5,2,12,13.174121,Brad,Hand,Bradley Richard,L,Miami Marlins
2111,lopezja02,2008,2,0,0,0,0,0,53,4,...,2,1,1,11,13.749779,Javier,Lopez,Javier Alfonso,L,Boston Red Sox
3909,benoijo01,2013,4,1,0,0,0,24,47,5,...,1,4,0,3,15.550073,Joaquin,Benoit,Joaquin Antonio,R,Detroit Tigers
3571,cruzrh01,2012,1,1,0,0,0,0,65,8,...,2,1,2,6,13.125897,Rhiner,Cruz,Rhiner Allen,R,Houston Astros
4087,leagubr01,2013,6,4,0,0,0,14,69,8,...,3,3,2,7,15.550073,Brandon,League,Brandon Paul,R,Los Angeles Dodgers
133,hitchst01,2003,1,3,1,0,0,0,57,6,...,0,1,2,3,15.873002,Sterling,Hitchcock,Sterling Alex,L,New York Yankees
4798,garcefr01,2015,0,1,1,0,0,0,41,9,...,1,1,2,4,13.151757,Frank,Garces,Frank Yeury,L,San Diego Padres
4379,downssc01,2014,0,2,0,0,0,1,24,1,...,0,0,0,0,15.150989,Scott,Downs,Scott Jeremy,L,Chicago White Sox
2539,nathajo01,2009,2,2,0,0,0,47,42,7,...,2,1,0,2,16.348065,Joe,Nathan,Joseph Michael,R,Minnesota Twins

<h3 align="center"> Getting a Ratio of Wins and Losses and then deleting both the W and L columns </h3>
<h3 align="center">Because there are some zero values that would result in inf values, I converted those numbers to 0, meaning they have no W/L ratio at this time </h3>

In [10]:
pitchingdat["Win/Loss"] = pitchingdat.W.div(pitchingdat.L)

pitchingdat.loc[~np.isfinite(pitchingdat['Win/Loss']), 'Win/Loss'] = 0

pitchingdat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5503 entries, 0 to 5503
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   playerID   5503 non-null   object
 1   yearID     5503 non-null   int64
 2   W          5503 non-null   int64
 3   L          5503 non-null   int64
 4   GS         5503 non-null   int64
 5   CG         5503 non-null   int64
 6   SHO        5503 non-null   int64
 7   SV         5503 non-null   int64
 8   H          5503 non-null   int64
 9   HR         5503 non-null   int64
 10  BB         5503 non-null   int64
 11  SO         5503 non-null   int64
 12  BAOpp      5503 non-null   float64
 13  ERA        5503 non-null   float64
 14  WP         5503 non-null   int64
 15  HBP        5503 non-null   int64
 16  SH         5503 non-null   int64
 17  SF         5503 non-null   int64
 18  GIDP       5503 non-null   int64
 19  LogSalary  5503 non-null   float64
 20  nameFirst  5503 non-null   object
 21  nameLast   5503 non-null   object
 22  nameGiven  5503 non-null   object
 23  throws     5503 non-null   object
 24  teamName   5503 non-null   object
 25  Win/Loss   5503 non-null   float64
dtypes: float64(4), int64(16), object(6)
memory usage: 1.1+ MB

In [11]:
pitchingdat = pitchingdat.drop(columns = ["L", "W"])

In [12]:
pitchingdat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5503 entries, 0 to 5503
Data columns (total 24 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   playerID   5503 non-null   object
 1   yearID     5503 non-null   int64
 2   GS         5503 non-null   int64
 3   CG         5503 non-null   int64
 4   SHO        5503 non-null   int64
 5   SV         5503 non-null   int64
 6   H          5503 non-null   int64
 7   HR         5503 non-null   int64
 8   BB         5503 non-null   int64
 9   SO         5503 non-null   int64
 10  BAOpp      5503 non-null   float64
 11  ERA        5503 non-null   float64
 12  WP         5503 non-null   int64
 13  HBP        5503 non-null   int64
 14  SH         5503 non-null   int64
 15  SF         5503 non-null   int64
 16  GIDP       5503 non-null   int64
 17  LogSalary  5503 non-null   float64
 18  nameFirst  5503 non-null   object
 19  nameLast   5503 non-null   object
 20  nameGiven  5503 non-null   object
 21  throws     5503 non-null   object
 22  teamName   5503 non-null   object
 23  Win/Loss   5503 non-null   float64
dtypes: float64(4), int64(14), object(6)
memory usage: 1.0+ MB

<h3 align="center"> Saving the new csv files with removed values for later use </h3>

In [13]:
pitchingdat.to_csv("Multicollinearity_Removal_Pitching.csv")
hittingdat.to_csv("Multicollinearity_Removal_Hitting.csv")